<!-- <h1>Teste BootStrap</h1>

 <div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/01.jpg" width="500" height="600" alt="" class="" />
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/02.jpg" width="500" height="600" alt="" class="" />
      </div>
  </div>

</div>-->

<app-header></app-header>
<div class="container">
  <!--<app-home></app-home>-->
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
